@import url('assets/ClashDisplay/Fonts/WEB/css/clash-display.css');

* {
    font-family: 'ClashDisplay-Regular';
}

/* .debug * {
    outline: 1px dashed lime !important;
    background-color: rgba(255, 0, 0, 0.05) !important;
} */

:root {
    --color: #fff;
    --color1: #81b217;
    --color1-darker: #678e12;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #222222;
    color: var(--color);
}

.white-mode {
    background-color: #d8d8d8;
}

.dark-mode {
    background-color: #222222;
}

.colorMode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    color: var(--color);
    background-color: var(--color1);
    cursor: pointer;
    transition: 0.3s;
}

.colorMode:hover {
    background-color: var(--color1-darker);
}

.colorMode ion-icon {
    font-size: 30px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    border-radius: 20px;
    padding: 5px 50px;
}

h1 {
    color: var(--color);
    font-size: 64px;
}

.streakNum {
    display: flex;
    flex-direction: column;
}

.num {
    font-size: 64px;
    color: var(--color1);
}

.text {
    font-size: 40px;
    opacity: 0.5;
}

.streakBTN {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin: 40px;
}

.streakBTN button {
    border: none;
    outline: none;
    background-color: var(--color1);
    color: var(--color);
    border-radius: 10px;
    font-size: 30px;
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
}

.streakBTN button:hover {
    background-color: var(--color1-darker);
}

@media (max-width: 768px) {
    h1 {
        font-size: 48px;
    }

    .num {
        font-size: 48px;
    }

    .text {
        font-size: 28px;
    }

    .streakBTN {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .streakBTN button {
        width: 80%;
        font-size: 24px;
    }

    main {
        width: 90%;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 50px;
        text-align: center;
    }

    .streakNum {
        /* width: 100%; */
    }

    .num {
        font-size: 45px;
    }

    .text {
        font-size: 30px;
    }

    .streakBTN button {
        font-size: 20px;
        width: 100%;
        height: 50px;
    }

    main {
        padding: 10px;
    }
}
